
.section-home{
    width: 300px;
background-color:rgb(248, 212, 218);
}
img{
    width: 200px;
    
}
header{
    background-color: pink;
    height: 100px;
}
li{
    display: inline-block;
}
a{
    padding:10px;
    line-height: 100px;

    text-decoration: none;
 
    font-size:20px;
}
main{
    width:950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}